* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #0f0f0f;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
}

h1 {
  font-size: 32px;
  margin-bottom: 40px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.links a {
  text-decoration: none;
  color: white;
  background-color: #1a1a1a;
  border: 1px solid #f97316;
  padding: 15px 40px;
  border-radius: 30px;
  font-weight: 600;
  transition: 0.3s ease;
}

.links a:hover {
  background-color: #f97316;
  color: black;
}
